.topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 12px;
    border: 1px solid #000;
    background-color: bisque;
    min-width: 500PX;
    max-width: 500px;
    margin: 10px auto;
}